.title{
	font-family: 'Playfair Display', serif;
}
.navbar-brand{
	font-family: 'Playfair Display', serif;
}
.quote{
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
}
.quoteau{
	font-family: 'Amatic SC', cursive;
	font-size:20px;
}
.menu{
		font-family: 'Playfair Display', serif;
}